{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
  <!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
  <div class="container">
    <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner mx-auto">
        {% for project in featured_projects %}
        {% if forloop.first %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}
            <a href="projects/{{ project.slug }}">
              <img src="{{ project.featured_image.url }}" class="w-75" alt="{{ project.title }}">
              <div class="carousel-caption d-none d-md-block hero-flash">
                <h1>{{ project.title }}</h1>
              </div>
            </a>
          </div>
          {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>  
</header>
<hr>
<section class="intro container">
  <div>
    <h2 class="heading">Who we are</h2>
    <p>
      Adventures with Wood aims to inspire, inform and guide you through your lifelong adventures working with all types
      of wood projects.
    </p>
    <p>And if you are struggling for inspiration, you can check out our posts where expert users help you decide which
      project works best for you.</p>
  </div>
  <img src="https://res.cloudinary.com/dsmlahszj/image/upload/v1679681231/bknldkayjbg8yrs58kzj.png" id="awwlogo"
    alt="Adventures with Wood logo" style="max-height:80%; max-width:80%">
</section>
<hr>
<section class="wrapper container">
  <h2 class="heading">Most Popular Projects</h2>
  <div class="top">
    <div class="hero">
      <a href="/projects/{{ most_popular.0.slug }}">
        <img src="{{ most_popular.0.featured_image.url }}" alt="{{ most_popular.0.title }}">
        <div class="most-image-flash">
          <h3>{{ most_popular.0.title }}</h3>
        </div>
      </a>
    </div>
    <div class="proj proj1">
      <a href="/projects/{{ most_popular.1.slug }}">
        <img src="{{ most_popular.1.featured_image.url }}" alt="{{ most_popular.1.title }}">
        <div class="most-image-flash">
          <h3>{{ most_popular.1.title }}</h3>
        </div>
      </a>
    </div>
    <div class="proj proj2">
      <a href="/projects/{{ most_popular.2.slug }}">
        <img src="{{ most_popular.2.featured_image.url }}" alt="{{ most_popular.2.title }}">
        <div class="most-image-flash">
          <h3>{{ most_popular.2.title }}</h3>
        </div>
      </a>
    </div>
  </div>
</section>
{%endblock%}