{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="p-link">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dsmlahszj/image/upload/v1679261024/e6gpexfcgmaneqv7bvcf.png">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ post.title }}</h2>
                            
                            <p class="card-text">{{ post.excerpt }}</p>
                            {% if post.author == request.user %}
                                <p><a href="{% url 'post_update' post.slug %}" class="p-link">Update</a> 
                                 | <a href="{% url 'confirm_delete' post.slug %}" class="p-link">Delete</a>  
                                </p> 
                            {% endif %}
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
           
        </div>
    </div>
</div>
{%endblock%}