{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="p-title">{{ post.title }}</h1>
                <p class="p-subtitle">{{ post.author }} | {{ post.created_on }}
                {% if post.author == request.user %}
                    | <a href="{% url 'post_update' post.slug %}" class="p-link">Update</a> 
                    | <a href="{% url 'confirm_delete' post.slug %}" class="p-link">Delete</a>  
                {% endif %}
                </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dsmlahszj/image/upload/v1679261024/e6gpexfcgmaneqv7bvcf.png" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text ">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}