{% extends 'base.html' %}
<!-- Block 'content' that can be overridden in child templates -->
{% block content %} 

<div class="masthead">
    <div class="container">
        <div class="card-body">
            <div class="image-container">
                <!-- If the featured image URL contains "placeholder", a default image is displayed. If not, the actual image URL is displayed -->
                {% if "placeholder" in post.featured_image.url %} 
                <img src="https://res.cloudinary.com/dsmlahszj/image/upload/v1679261024/e6gpexfcgmaneqv7bvcf.png"
                    max-width="50%"> 
                {% else %}
                <img src=" {{ post.featured_image.url }}" max-width="50%">
                {% endif %}
                <div class="image-flash">
                    <p class="author">{{ post.author }} | {{ post.created_on }}
                </div>
            </div>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.excerpt }}</p>
            <!-- If the post author is the currently logged-in user, then Update and Delete buttons are displayed-->
            {% if post.author == request.user %}
            <p><a href="{% url 'post_update' post.slug %}" class="p-link">Update</a>
                | <a href="{% url 'confirm_post_delete' post.slug %}" class="p-link">Delete</a>
            </p>
            {% endif %}
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text ">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}