{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for project in project_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'project_detail' project.slug %}" class="p-link">
                            <div class="image-container">
                                {% if "placeholder" in project.featured_image.url %}
                                <img class="card-img-top img-thumbnail"
                                    src="https://res.cloudinary.com/dsmlahszj/image/upload/v1677950722/ijwoqevbawjruy19i6bt.png" alt="{{ project.title }}">
                                {% else %}
                                <img class="card-img-top img-thumbnail" src=" {{ project.featured_image.url }}" alt="{{ project.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ project.author }}</p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ project.title }}</h2> 
                            <p class="card-text">{{ project.summary_text }}</p>
                            {% if project.author == request.user %}
                                <p><a href="{% url 'project_update' project.slug %}" class="p-link">Update</a>
                                     | <a href="{% url 'confirm_project_delete' project.slug %}" class="p-link">Delete</a>
                                </p>
                            {% endif %}
                            <hr/>
                            <p class="card-text text-muted h6">{{ project.created_on}} <i class="far fa-heart"></i>
                                {{ project.number_of_likes }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}